<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title><%= title %></title>
<% if (styles && styles.length > 0) { %>
   <%- styles.join('\n') %>
<% } %>
<% if (scripts && scripts.length > 0) { %>
   <%- scripts.join('\n') %>
<% } %>

